*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(bg.jpg);
    background-size: cover;

}
#main{
    width: 40%;
    height: 500px;
    text-align: center;
    float: left;
    margin: 40px 10px 0 150px;
    background-color: #fff;
}
#main input{
    height: 30px;
    width: 45%;
    margin-bottom: 10px;
    font-size: 20px;
}

#main label{
    font-size: 23px;
    padding-right: 50px;
    margin-bottom: 10px;
}

#head{
    background-image:linear-gradient(90deg,red, rgb(165, 4, 66));
    width: 100%;
    height: 55px;
    margin: 0;
    padding: 5px;
    color: #fff;
    margin-bottom: 30px;
}

#result{
    height: 500px;
    width: 30%;
    float: left;
    margin-top: 40px;
    background-color: #fff;
}
#head1, #head2, #head3{
    background-image:linear-gradient(90deg,red, rgb(165, 4, 66));
    width: 100%;
    height: 54px;
    color: white;
    text-align: center;
}

#total{
    height: 200px;
    width: 100%;
    padding: 20px;
    font-size: 19px;
    font-weight: 600;
    background-color: #fff;

}
#grade{
    height: 80px;
    width: 100%;
    padding: 20px;
    font-size: 19px;
    font-weight: 600;
    background-color: #fff;
}

#ave{
    height: 80px;
    width: 100%;
    padding: 20px;
    font-size: 19px;
    font-weight: 600;
    background-color: #fff;
}

.btn1,.btn2,.btn3{
    background-image:linear-gradient(90deg,red, rgb(165, 4, 66));
    color: #fff;
    font-size: 21px;
    padding: 11px;
    border: 0px;
    border-radius: 6px;
    margin-left: 27px;
    margin-top: 16px;
    cursor: pointer;
}
